@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Poppins:wght@300;400&display=swap');

:root{
  --footer--font-color:#ffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* navbar css */
/* root css custom class */

.navbar{
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.25);
}
.active{
  border-bottom: 1px solid red;
}

.navbar-brand{
  font-weight: 700;
  font-family: 'roboto', 'sans-serfi';
  letter-spacing: 3px;
}


/* footer css */

.footer{
  color: var(--footer--font-color);
  padding: 25px;
  background: black;
}

.footer a{
  color: var(--footer--font-color);
  text-decoration: none;
  padding: 10px;
}

.footer a:hover{
  color: red;
  border-bottom: 1px solid gray;
}


/* page not found css */

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 10px;
}

.pnf-btn:hover{
  background: black;
  color: white;
  transition: 0.5s;
}

/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 24px;
  text-transform: uppercase;
}
.cat-btn:hover {
  background-color: #434343;
  color: white;
}